<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yoryky.demo">
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--读取SDCard数据权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.ql.provider.READ" />
    <application
        android:name="com.yoryky.demo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.yoryky.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.Http3Activity"/>

        <activity android:name=".activity.CookieActivity"/>

        <activity android:name=".activity.DaggerActivity"/>

        <activity android:name=".activity.RepositoryActivity"/>

        <activity android:name=".activity.Retrofit2Activity"/>

        <activity android:name=".activity.RxJavaActivity"/>

        <activity android:name=".activity.UrlConnectionActivity"/>

        <activity android:name=".activity.SocketActivity"/>

        <activity android:name=".activity.AsyncTaskActivity"/>

        <activity android:name=".activity.ProviderActivity"/>

        <activity android:name=".activity.StorageActivity"/>

        <provider
            android:name="com.yoryky.demo.provider.MenuProvider"
            android:authorities="myfs.pub.menusprovider"
            android:exported="true"
            android:readPermission="com.ql.provider.READ" >
            <!-- 指定授权者 -->
            <!-- 给予其他应用程序只读取自己数据的权限 -->
        </provider>
    </application>
</manifest>
